HELP.md
.gradle
build/
application.yml
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Java 관련
*.class
*.jar
*.war
*.ear

# 기본 Eclipse, STS 관련
.metadata/
.classpath
.project
.settings/
bin/
tmp/

# 기본 IntelliJ IDEA 관련
*.iml
.idea/
out/

# 기본 Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 기본 Maven 관련
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# 기타
*.log
*.DS_Store
*.swp
*.swo
*~

*.bak
*.tmp

# Spring Boot 기본
spring-boot-*.jar
spring-boot-*.war

# Lombok 관련
**/lib/lombok.jar
*.lombok.config

# 환경설정 파일
application.properties

*.env

# OS별 파일 무시
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux


# 기타 IDE 관련
*.vscode/
*.code-workspace
